<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
 
  <ion-buttons  slot="end">
    <ion-avatar>
       <ion-img src="/assets/icono.png"></ion-img>
    </ion-avatar>
  </ion-buttons>
  
  <ion-title>Puntos limpios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background">

  <ion-text color="light">
    <h2 class="new-font">Desliza hacia abajo y encuentra puntos de reciclaje</h2>
  </ion-text>

  <ion-card >
    <img src="assets/petroleo.png"/>
    <ion-card-content>
      <ion-card-title class="titulos">
        Aceite vegetal
      </ion-card-title>
      <p>Haz click en el botón para redireccionarte a la empresa amiga</p>
      <ion-button href="http://www.rendering.cl/" target="_blank" class="botones">
        <ion-icon slot="start" name="leaf-outline"></ion-icon>
        Ir al sitio
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <img src="assets/bateria.png"/>
    <ion-card-content>
      <ion-card-title class="titulos">
        Pilas
      </ion-card-title>
      <p>Haz click en el botón para redireccionarte a la empresa amiga</p>
      <ion-button href="https://ecovalor.cl/" target="_blank" class="botones">
        <ion-icon slot="start" name="leaf-outline"></ion-icon>
        Ir al sitio
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <img src="assets/cables.png"/>
    <ion-card-content>
      <ion-card-title class="titulos">
        Cables
      </ion-card-title>
      <p>Haz click en el botón para redireccionarte a la empresa amiga</p>
      <ion-button href="https://www.reciclandofuturo.cl/" target="_blank" class="botones">
        <ion-icon slot="start" name="leaf-outline"></ion-icon>
        Ir al sitio
      </ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card >
    <img src="assets/smartphone.png"/>
    <ion-card-content>
      <ion-card-title class="titulos">
        Celulares smartphones
      </ion-card-title>
      <p>Haz click en el botón para redireccionarte a la empresa amiga</p>
      <ion-button href="https://www.instagram.com/_collectingdust/?hl=es" target="_blank" class="botones">
        <ion-icon slot="start" name="leaf-outline"></ion-icon>
        Ir al sitio
      </ion-button>
    </ion-card-content>
  </ion-card>

<br>
<br>

    <ion-fab slot="fixed" vertical="bottom" horizontal="bottom">
      <ion-fab-button class="botones"><p style="font-size: small;">Comparte</p></ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button  >
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    
     
    </ion-fab>

</ion-content>




<!-- Footer without a border

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
-->